

body {
	font-family: arial, sans-serif;
	padding: 0;
	margin: 0;
	color: #222222;
}

.clearfix:after {
content:'';
display: table;
width: 100%;
clear: both;
}

div {
	box-sizing: border-box; //не деформировать длину//
}


header {

	background: url(../img/mainpicture9.jpg) no-repeat center top / cover;
	height: 100vh;
	font-family: Arial, Helvetica, sans-serif;

}


.container {
	width: 930px;
	margin: 0 auto;
}

.logo {
	margin: 20px 0px 0px 0px;
	float: left;
}

nav {
	float: right;
	margin-top: 40px;
}


.menu {
	padding: 0;
	margin: 0;
	display: block;
}


.menu li {
	float: left;
	display: block;
	margin-right: 41px;
	
}

.menu a {
	color: #e0ffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
}

.titles_first {
	font-size: 40px;
	color: #FFFF00;
	text-transform: uppercase;
	text-align: center-left;
	margin-top: 100px;
}

h1 {
	font-size: 75px;
	color: #FFFF00;
	text-transform: uppercase;
	text-align: center-left;
	margin: 0;
	font-family: 'Fredericka the Great', cursive;
}


.titles_second {
	font-size: 40px;
	color: black;
	text-transform: uppercase;
	text-align: center-left;
	margin-top: 250px;
	}

.title {
	padding-top: 115px;
}

.title h2 {
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	margin: 0;

}

.title h3 {
	color: #777777;
	text-align: center;
	font-size: 25px;
	margin-top: 5px;
}



#theEnd {
	background: #FFFF00;
	padding-bottom: 10px;
	color: black;
	text-align: center;
}

#theEnd a {
	color: black;
	text-decoration: none;
}

.widget-social li{
	list-style: none;
	display: inline-block;
	margin-right: 20px;
	padding-top: 10px;
}


.anketa h1 {
font-family: arial, sans-serif !important;
padding: 0;
margin: 0;
color: #222222;	
size: 15px !important;
}


@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.titles_second {
  text-align: center;
  font-size: 60px;
  color: #FFFF00;
  letter-spacing: -7px;
  font-weight: 700;
  text-transform: uppercase;
  animation: blur .75s ease-out infinite;
  text-shadow: 0px 0px 5px #FFFF00, 0px 0px 7px #FFFF00;
}

@keyframes blur {
  from {
    text-shadow:0px 0px 10px #FFFF00,
      0px 0px 10px #FFFF00, 
      0px 0px 25px #FFFF00,
      0px 0px 25px #FFFF00,
      0px 0px 25px #FFFF00,
      0px 0px 25px #FFFF00,
      0px 0px 25px #FFFF00,
      0px 0px 25px #FFFF00,
      0px 0px 50px #FFFF00,
      0px 0px 50px #FFFF00,
      0px 0px 50px #7B96B8,
      0px 0px 150px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px -10px 100px #7B96B8,
      0px -10px 100px #7B96B8;
  }
}
